.cart {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    h2 {
        font-size: 2rem;
        font-weight: 500;
        margin-bottom: 1.5rem;
    }

    table {
        width: 100%;
        box-sizing: border-box;
        border: 1px solid #dee2e6;
        border-collapse: collapse;

        th {
            border: 1px solid #dee2e6;
            padding: 12px;
        }
    }
}

.tr_item_cart {
    td {
        border: 1px solid #dee2e6;
        padding: 12px;
        text-align: center;
    }
}